#idea
/*.ipr
/*.iml
/*.iws

#eclipse
/eclipse

#lein
/target/

#windows
/desktop.ini
Thumbs.db

#mac
.DS_Store
.DS_Store?
.Spotlight-v100
.Trashes
Icon?
enthumbs.db

#etc
/.gradle/
/mc-client/
/logs/
/build/
